<form name="configForm" ng-submit="salvar(config)">
  <div class="modal-header">
    <h4 class="modal-title">Configurações</h4>
  </div>
  <div class="modal-body">
    <!-- banco de dados -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Banco de Dados</h3>
      </div>
      <div class="panel-body">
        <p>Configure os dados de conexão a seu banco de dados MySQL.</p>
        <p>Verifique se seu servidor de banco de dados está configurado para acesso remoto.</p>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="DB_HOST">Host</label>
              <input class="form-control" type="text" name="DB_HOST" ng-model="config.DB_HOST" placeholder="Endereço do servidor">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="DB_PORT">Porta</label>
              <input class="form-control" type="text" name="DB_PORT" ng-model="config.DB_PORT" placeholder="Porta do servidor">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="DB_NAME">Nome do banco de dados</label>
          <input class="form-control" type="text" name="DB_NAME" ng-model="config.DB_NAME">
        </div>
        <div class="form-group">
          <label for="DB_USER">Usuário</label>
          <input class="form-control" type="text" name="DB_USER" ng-model="config.DB_USER">
        </div>
        <div class="form-group">
          <label for="DB_PASS">Senha</label>
          <input class="form-control" type="password" name="DB_PASS" ng-model="config.DB_PASS">
        </div>

        <div ng-if="infoMsg" class="alert alert-info">
          {{infoMsg}}
        </div>
        <div ng-if="successMsg" class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{successMsg}}
        </div>
        <div ng-if="errorMsg" class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{errorMsg}}
        </div>

        <p>
          <button type="button" ng-click="testarDb(config)" class="btn btn-default">Testar conexão</button>
        </p>
      </div>
    </div>

    <!-- Facebook -->
    <a href="" ng-if="!facebook" ng-click="fbLogin()" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Vincular a conta Facebook</a>

    <div ng-if="facebook" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Publicação no Facebook</h3>
      </div>
      <div class="panel-body">
        <fieldset>
          <legend>Seu perfil</legend>
          <p>Marque caso queira publicar as notícias em sua conta pessoal.</p>
          <div class="checkbox">
            <label>
              <input ng-model="config.FACEBOOK_PROFILE_ID" ng-true-value="'{{profile.id}}'" ng-false-value="''" type="checkbox"> {{profile.name}}
            </label>
          </div>
        </fieldset>
        <fieldset>
          <legend>Suas páginas</legend>
          <p>Selecione em quais páginas gostaria de publicar as notícias.</p>
          <div class="checkbox" ng-repeat="page in pages">
            <label>
              <input checklist-model="config.FACEBOOK_PAGES" checklist-value="page" type="checkbox"> {{page.name}}
            </label>
          </div>
        </fieldset>
      </div>
    </div>

    <div ng-if="errorMsg" class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Erro</strong> {{errorMsg}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="fechar()">Fechar</button>
    <button type="submit" class="btn btn-primary">Salvar</button>
  </div>
</form>
